/*All Pages*/
main {
    margin-top: 5vh;
}
.logo {
    width: 30px;
    display: inline;
}
.alert-danger {
    margin-top: 20px;
}
.alert-success {
    margin-top: 20px;
}
.hidden {
    display: none;
}

/*Home*/
.jumbotron {
    margin-top: 10vh;
}


/*Passbook*/
.searchByName {
    padding-left: 10vw;
    padding-right: 10vw;
}
.searchByAccountNo {
    padding-left: 10vw;
    padding-right: 10vw;
}
h3.passbook {
    margin-top: 20px;
}


/*Customer*/
.customerInputField {
    padding-left: 10vw;
    padding-right: 10vw;
}


/*Loan*/
.loanInputField {
    padding-left: 10vw;
    padding-right: 10vw;
}
h3.loans {
    margin-top: 20px;
}

/*Transaction*/
.transactionInputField {
    padding-left: 10vw;
    padding-right: 10vw;
}

#cashWithdrawForm {
    margin-top: 20px;
}