<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Best Bank</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/style/style.css}" />
        <link rel="icon" th:href="@{/img/piggy.png}" />
    </head>
    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/}">
                <img class="logo" th:src="@{/img/piggy-white.png}" />
                BestBank
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" th:href="@{/transactions}">Transactions</a>
                    <a class="nav-item nav-link" th:href="@{/passbooks}">Passbooks</a>
                    <a class="nav-item nav-link" th:href="@{/loans}">Loans</a>
                    <a class="nav-item nav-link active" th:href="@{/customers}">Customer Service</a>
                </div>
            </div>
        </nav>

        <!--Content-->
        <div class="container-fluid">
            <main>
                <!-- View Search Bar -->
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <h1 class="">Customer Service</h1>
                        <div class="accordion" id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Add a New Customer
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <form th:action="@{/customers/add/customer}" method="POST" class="customerInputField">
                                            <div class="form-group">
                                                <label for="addCustomerFirstName">First Name</label>
                                                <input name="firstName" type="text" class="form-control" id="addCustomerFirstName" placeholder="Joel" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="addCustomerLastName">Last Name</label>
                                                <input name="lastName" type="text" class="form-control" id="addCustomerLastName" placeholder="Bloom" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="addCustomerSSN">SSN</label>
                                                <input name="ssn" type="text" class="form-control" id="addCustomerSSN" placeholder="xxx-xx-xxxx" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="addCustomerStreet">Street</label>
                                                <input name="street" type="text" class="form-control" id="addCustomerStreet" placeholder="123 Main Street" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="addCustomerApt">Apartment No.</label>
                                                <input name="apt" type="text" class="form-control" id="addCustomerApt" placeholder="101B">
                                            </div>
                                            <div class="form-group">
                                                <label for="addCustomerCity">City</label>
                                                <input name="city" type="text" class="form-control" id="addCustomerCity" placeholder="Newark" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="addCustomerState">State</label>
                                                <input name="state" type="text" class="form-control" id="addCustomerState" placeholder="New Jersey" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="addCustomerZip">ZIP Code</label>
                                                <input name="zip" type="text" class="form-control" id="addCustomerZip" placeholder="07101" required>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Add Customer</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Remove an Existing Customer
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        <form th:action="@{/customers/remove/customer}" method="POST" class="customerInputField removeCustomer">
                                            <div class="form-group">
                                                <label for="removeCustomerSSN">Customer SSN (xxx-xx-xxxx)</label>
                                                <input name="ssn" type="text" class="form-control" id="removeCustomerSSN" placeholder="123-00-5678" required>
                                            </div>
                                            <button type="submit" class="btn btn-danger">Remove Customer</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Add a Customer Account
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <form th:action="@{/customers/add/account}" method="POST" class="customerInputField">
                                            <div class="form-group">
                                                <label for="addCustomerAccountSSN">Customer SSN(s) (xxx-xx-xxxx, ...)</label>
                                                <input name="ssn" type="text" class="form-control" id="addCustomerAccountSSN" placeholder="123-00-5678, ..." required>
                                            </div>

                                            <!-- Branch Drop Down-->
                                            <div class="form-group">
                                                <label for="addCustomerAccountBranch">Branch Name</label>
                                                <select name="branchName" class="form-control" id="addCustomerAccountBranch">
                                                    <option th:each="branch : ${branches}" th:value="${branch}" th:text="${branch}"></option>
                                                </select>
                                            </div>

                                            <!-- Account Type-->
                                            <div class="form-group">
                                                <label for="addCustomerAccountType">Account Type</label>
                                                <div id="addCustomerAccountType">
                                                    <input id="radio-btn-checking" type="radio" name="accountType" value="checking" checked> Checking<br>
                                                    <input id="radio-btn-savings" type="radio" name="accountType" value="savings"> Savings<br>
                                                </div>
                                            </div>

                                            <div id="interest-rate-box" class="form-group">
                                                <label for="customerInterestOrOverdraft" id="interestOrOverdraft">Overdraft Amount ($)</label>
                                                <input name="interestOrOverdraft" type="number" min="0.00" step="0.01" class="form-control" id="customerInterestOrOverdraft" placeholder="0.00">
                                            </div>

                                            <div class="form-group">
                                                <label for="addCustomerAccountBalance">Initial Balance ($)</label>
                                                <input name="balance" type="number" min="500.00" step="0.01" class="form-control" id="addCustomerAccountBalance" placeholder="500.00" required>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Create Account</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Remove a Customer Account
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                    <div class="card-body">
                                        <form th:action="@{/customers/remove/account}" method="POST" class="customerInputField">
                                            <div class="form-group">
                                                <label for="removeCustomerAccount">Account No.</label>
                                                <input name="accountNo" type="text" class="form-control" id="removeCustomerAccount" placeholder="123456789" required>
                                            </div>
                                            <button type="submit" class="btn btn-danger">Remove Account</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFive">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            Add a Customer Loan
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                    <div class="card-body">
                                        <form th:action="@{/customers/add/loan}" method="POST" class="customerInputField">
                                            <div class="form-group">
                                                <label for="addCustomerAccountSSN">Customer SSN(s) (xxx-xx-xxxx, ...)</label>
                                                <input name="ssn" type="text" class="form-control" id="addCustomerLoanSSN" placeholder="123-00-5678, ..." required>
                                            </div>

                                            <!-- Branch Drop Down-->
                                            <div class="form-group">
                                                <label for="addCustomerAccountBranch">Branch Name</label>
                                                <select name="branchName" class="form-control" id="addCustomerLoanBranch">
                                                    <option th:each="branch : ${branches}" th:value="${branch}" th:text="${branch}"></option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="addCustomerLoanAmount">Loan Amount ($)</label>
                                                <input name="amount" type="number" min="500.00" step="0.01" class="form-control" id="addCustomerLoanAmount" placeholder="500.00" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="addCustomerLoanInfo">Description (optional)</label>
                                                <input name="description" type="text" class="form-control" id="addCustomerLoanInfo" placeholder="Car Loan">
                                            </div>

                                            <button type="submit" class="btn btn-primary">Create Loan</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingSix">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                            Remove a Customer Loan
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                    <div class="card-body">
                                        <form th:action="@{/customers/remove/loan}" method="POST" class="customerInputField">
                                            <div class="form-group">
                                                <label for="removeCustomerLoan">Loan No.</label>
                                                <input name="loanNo" type="text" class="form-control" id="removeCustomerLoan" placeholder="123456789" required>
                                            </div>
                                            <button type="submit" class="btn btn-danger">Remove Loan</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- View DB Success/Fail -->
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <!-- Error Handler -->
                        <div th:each="error : ${error}">
                            <div class="alert alert-danger" role="alert">
                                <span th:text="${error}"></span>
                            </div>
                        </div>
                        <!-- Success Prompt -->
                        <div th:each="success : ${success}">
                            <div class="alert alert-success" role="alert">
                                <span th:text="${success}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <!-- JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <!-- Link in JavaScript -->
        <script th:src="@{/js/customer.js}"></script>
    </body>
</html>
