<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Best Bank</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/style/style.css}" />
        <link rel="icon" th:href="@{/img/piggy.png}" />
    </head>
    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/}">
                <img class="logo" th:src="@{/img/piggy-white.png}" />
                BestBank
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" th:href="@{/transactions}">Transactions</a>
                    <a class="nav-item nav-link active" th:href="@{/passbooks}">Passbooks</a>
                    <a class="nav-item nav-link" th:href="@{/customers}">Customers</a>
                </div>
            </div>
        </nav>

        <!--Content-->
        <div class="container-fluid">
            <main>
                <!-- View Search Bar -->
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <h1 class="">Best Bank Passbooks</h1>
                        <div class="accordion" id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Search By Account No.
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <form th:action="@{/passbooks/account}" method="POST" class="searchByAccountNo">
                                            <div class="form-group">
                                                <label for="accountNo">Account No.</label>
                                                <input name="accountNo" type="text" class="form-control" id="accountNo">
                                            </div>
                                            <button type="submit" class="btn btn-primary" id="searchByAccountNoBtn">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Search by Customer Name
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        <form class="searchByName">
                                            <div class="form-group">
                                                <label for="firstName">First Name</label>
                                                <input type="text" class="form-control" id="firstName">
                                            </div>
                                            <div class="form-group">
                                                <label for="lastName">Last Name</label>
                                                <input type="text" class="form-control" id="lastName">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- View Passbook -->
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">

                        <!-- Error Handler -->
                        <div th:each="error : ${error}">
                            <div class="alert alert-danger" role="alert">
                                <span th:text="${error}"></span>
                            </div>
                        </div>

                        <!-- Display Account No -->
                        <div th:each="account : ${account}">
                            <h3 class="passbook">Passbook for Account No:  <span th:text="${account}"></span></h3>
                        </div>


                        <!-- Display Transactions -->
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Transaction Code</th>
                                    <th scope="col">Transaction Name</th>
                                    <th scope="col">Debits</th>
                                    <th scope="col">Credits</th>
                                    <th scope="col">Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Balance Forward -->
                                <!--<tr th:each="balance: ${balance}">-->
                                    <!--<td><span th:text="${balance[0]}"></span></td>-->
                                    <!--<td><span th:text="${balance[1]}"></span></td>-->
                                    <!--<td><span th:text="${balance[2]}"></span></td>-->
                                    <!--<td><span th:text="${balance[3]}"></span></td>-->
                                    <!--<td><span th:text="${balance[4]}"></span></td>-->
                                    <!--<td>$<span th:text="${balance[5]}"></span></td>-->
                                <!--</tr>-->

                                <!-- Iterate Over Transactions -->
                                <tr th:each="transaction: ${transactions}">
                                    <td><span th:text="${transaction[0]}"></span></td>
                                    <td><span th:text="${transaction[1]}"></span></td>
                                    <td><span th:text="${transaction[2]}"></span></td>
                                    <td><span th:text="${transaction[3]}"></span></td>
                                    <td><span th:text="${transaction[4]}"></span></td>
                                    <td>$<span th:text="${transaction[5]}"></span></td>
                                </tr>

                            </tbody>
                        </table>


                    </div>
                </div>

            </main>
        </div>

        <!-- JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <!-- Link in JavaScript -->
        <script th:src="@{/js/passbook.js}"></script>
    </body>
</html>
